img.bonjour {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
h1.localisation
{
   color: blue;
   text-align: center;
}

h1.hashtagCompetence
{
	color:#FF8000;
	margin-left: 12%;
}

div.leftDiv
{
	width:30%;
	margin-left:2%;	

}
