img.bonjour {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
h1.localisation
{
   color: blue;
   text-align: center;
}

h1.hashtagCompetence
{
	color:#FF8000;
	text-align: center;
}


td
{	
	vertical-align:top;
	padding-bottom:3em;
}

div.qualifDiv
{
	width:90%;
	margin-left:5%;	
	display:inline-block;
}
table.hashtagTable
{
	width:100%;
}
